extends layout

block content
    h1 New Email
    p.lead This will send an email to everyone.
    .form-group
        input#subject.form-control(type='text', placeholder='Subject')
        br
        textarea#text.form-control(type='text', placeholder='Email Text' style="height:150px")
        br
        textarea#html.form-control(type='text', placeholder='Email HTML' style="height:150px")
        br
        input#date.form-control(type="date", style="width:50%")
        br
        button#addEmailBtn.btn.btn-default Submit Email

block scripts
    script(src='/javascripts/emailSubmit.js')
