extends layout

block content
  h2 Current Emails
  p.lead These emails have been sent out and are waiting to be confirmed by everyone. Click on one to see more info. Date shown is last day.
  #loading
   strong Loading...
  #accordion.panel-group(role='tablist', aria-multiselectable='true')
      #template.panel.panel-default(style="display:none")
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                | Subject: [SigEp Rush] Remember your event
              p.panel-date(style="float:right") Date
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
                h5 Email text:
                .email-text
                    | Email text
                hr
                .users-confirmed
                    h5 Users Confirmed:
                    .users-confirmed-text
                      | Users Confirmed
                .users-not-confirmed
                    h5 Users Not Confirmed:
                    .users-not-confirmed-text
                      | Users Not Confirmed

block scripts
    script(src='/javascripts/main.js')


