body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.users-confirmed {
    width: 50%;
    float: left;
}

.users-not-confirmed{
    width: 50%;
    float: right;
}
